<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test-Suite" >
    <suite-files>
        <suite-file path="testSuites/petSuite.xml" />
        <suite-file path="testSuites/orderSuite.xml" />
        <suite-file path="testSuites/userSuite.xml" />
    </suite-files>
</suite>

