<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test-Suite" >
    <test name="PetStore Tests" >
        <classes>
            <class name="pet.CreateGetUpdateDeletePetTests" />
            <class name="store.CreateGetDeleteOrderTests" />
        </classes>
    </test>
</suite>

